.Footer-Container{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 50px;
}
.Footer-Container-Content{
    border: 1px solid transparent;
    background: linear-gradient(90deg, #FBFDFF 0%, #D8EFFF 100.86%);
    box-shadow: 0px 0px 25px 0px rgba(142, 160, 173, 0.35);
    border-radius: 20px;
    padding: 30px;
}
.Footer-Text{
    color: rgba(1, 69, 122);
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}