.Header-Text-Modal2{
    color: rgba(1, 69, 122);
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}
.Text-Modal2{
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(1, 69, 122);
}
.Title{
    color: rgba(1, 69, 122, 1);
}
.Container-Modal2{
    margin: 30px;
}