.Text-Modal{
    color: rgba(1, 69, 122, 1);
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 150px;
}
.Button-Close{
    border: none;
    background-color: transparent;
    color: rgba(1, 69, 122, 1);
    cursor: pointer;
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: 400;
}